body {
  background-color: #f4d04e;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Figtree", sans-serif;
}

.card {
  border: 2px solid black;
  border-radius: 20px;
  height: 522px;
  width: 384px;
  background-color: white;
  box-shadow: 8px 8px 0px black;
  padding: 24px;
  position: relative;
}

.card img{
    border-radius: 10px;
}

.card .learning{
    background-color: #f4d04e;
    padding: 5px;
    border-radius: 4px;
    margin-top: 20px;
    width: 90px;
    color: hsl(0, 0%, 7%);
    font-weight: 800;
    position: absolute;
    top: 230px;
    left: 25px;
    text-align: center;
}

.published{
    margin-top: 65px;
    font-weight: 500;
}

.header{
    font-weight: 800;
    margin-top: 20px;
}

.paragraph{
    color: hsl(0, 0%, 42%);
    font-size: 16px;
    margin-top: 20px;
}

.profile img{
    width: 40px;
}

.profile{
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 10px;
    font-weight: 800;

}